html, body, body > div, .app {
  height: 100%;
  width: 100%;
}

.panel-heading {
  background-color: #013F64;
}

.panel-title {
  color:#D8E3EA;
}

.headers {
  background-color: #014268;
  color: white;
}

.quotes {
  background-color: #6E7275;
}

input {
  margin: 5px;
}

.submit_btn {
  background-color: #014268;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cancel_btn {
  background-color: #6E7275;
}

.search {
  background-color: #00060A;
  color: #D8E3EA;
  padding: 10px;
  margin: 5px;
}

table {
  width: 100%;
  margin: 20px 0px 10px 0px;
  border-collapse: collapse;
}

th {
  padding: 12px;
  color: #D8E3EA;
  background-color: #00060A;
  font-family: serif;
}

td, th {
  padding: 10px;
  border: 2px solid #D8E3EA;
}

tr:nth-child(odd) {
  background-color: #28536C;
}

tr:nth-child(even) {
  background-color: #013F64;
}

td {
  color: #D8E3EA;
}

.bodys {
  background-color: #D8E3EA;
  color: black;
}

.error {
  color: red
}

.loginContainer {
  margin: 0, auto;
  padding: 100px;
  background-color: #696E71;
}

.mainContainer {
  margin: 0, auto;
  padding: 25px;
  background-color:#6E7275;
}

.App {
  margin: 0;
  padding: 0;
}


.modularForm {
  background-color:rgb(214, 210, 210)
}
